[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClusROC"]
	path = ClusROC
	url = https://github.com/toduckhanh/clusroc
[submodule "bcROCsurface"]
	path = bcROCsurface
	url = https://github.com/toduckhanh/bcrocsurface
